#ChapterText, #SubChapterText {
    cursor: pointer;
}

#ChapterText {
    font-size: 150%
}

#SubChapterText {
    font-size: 125%
}

/* The Paragraph element used for the correct answer. */
#CorrectAnswerText {
    background-color: greenyellow
}

/* The Paragraph element used for the incorrect answer */
#IncorrectAnswerText {
    background-color: lightcoral
}